.sponsors {
    text-align: center;
    padding: 20px 20px 80px;
}

.sponsors h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #010080;
}

.sponsor-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow wrapping to avoid horizontal scrolling */
}

.sponsor-images img {
    width: 200px; /* Adjust size as needed */
    margin: 10px; /* Adjust spacing between images */
}